
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    font-family: Sans-serif;
}

/*central part of the game including name, individual boards, ship dock, flip button*/
.main-board {
    background-image: url(./Water.png);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 80px;
    margin: 20px 30px 5px 30px;
    color: #8AFFFF;
    -webkit-text-stroke: 2.5px black;
    font-weight: 500;
    
}
.game-info {
    font-size: 40px;
    color: #E5E4E2;
    -webkit-text-stroke: 1.5px #1A4383;
    height: 50px;
    padding: 0;
}

.game-boards {
    display: flex;
}

/* individual boards */
.players-board, .computers-board {
    background-color: #E5E4E2;
    width: 400px;
    height: 400px;
    margin: 15px 40px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    
}

.players-board > div, .computers-board > div {
    width: 40px;
    height: 40px;
    border: 0.5px solid lightslategray;
    border-radius: 4px;
    box-sizing: border-box;
}

/* ship dock and ships */
.ship-dock {
    width: 1000px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    background: none;
}

.ship-dock > div {
    height: 40px;
    margin: 5px;
    border-radius: 4px;
}

.carrier {
    width: 120px; 
    background-color: #EBCB8B
}

.battleship {
    width: 100px;
    background-color: #D08770
}

.cruiser {
    width: 90px;
    background-color:#BF616A

}

.submarine {
    width: 60px;
    background-color: #A3BE8C

}

.destroyer {
    width: 50px;
    background-color: #B48EAD
}


.computers-board .carrier,
.computers-board .battleship,
.computers-board .cruiser,
.computers-board .submarine,
.computers-board .destroyer { 
    background-color: #E5E4E2;
}


.game-buttons{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flip-button{
    background-color: #1A4383;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 30px 20px 30px;
    border: none;
    outline: none;
}

.hidden {
    visibility: hidden;
}

.start-button {
    background-color: white;
    color: #1A4383;
    font-size: 20px;
    padding: 10px 25px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 30px 20px 30px;
    border: none;
    outline: none;
}

.hit {
    background-color: red !important;
}

.empty {
    background-color: gray !important;
}