body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.go-button {
  background-color: #1A4383;
  border: 3px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  margin-top: 300px;

}
