/* FINISH PAGE */
body {
  margin: 0;
	width: 100vw;
	height: 100vh;
  display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.finish-page {
    background-image: url(./Water.png);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
	  align-content: center;
	  align-items: center; 

  }

  .play-again-button {
    background-color: #1A4383;
    border: 3px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 4px;
  }